.navbar {
    height: 90px;
    width: 100vw;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar h1 {
    color: darkcyan;
    font-size: 40px;
    font-weight: bolder;
}

.navoptions {
    display: flex;
}

.navoptions ul {
    list-style: none;
    display: flex;
}

.navoptions ul li {
    margin-left: 40px;
}

.navoptions a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navbar button {
    margin-left: 40px;
}

.nav-btn {
    height: 30px;
    width: 10vw;
    background-color: darkcyan;
    border: none;
    border-radius: 10px;
}